/* You can add global styles to this file, and also import other style files */

$spot4sport-green: #008c4f;

.green-button {
    background-color: $spot4sport-green;
    border-color: $spot4sport-green;
    color: white;
}
