:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button {
    margin-top: 5px;
}

.add-court {
    display: flex;
}

.courts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.court {
    width: 20rem;
    padding: 10px 10px 0 10px;
    margin: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.card-title {
    text-align: center;
}
.card-text {
    text-align: justify;
}
